body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidebar {
    width: 200px;
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #a6a6a6;
    margin-bottom: 10px;
}

.sidebar .active-link {
    color: #ff007a;
    font-weight: bold;
}

.btn {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #ff007a;
    color: white;
}

.btn-primary:hover {
    background-color: #ff3399;
}

.btn-secondary {
    background-color: #343434;
    color: #fff;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    color: white;
}

.card h3 {
    margin: 0;
    font-size: 24px;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

